.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* universal margin and padding */

* {
  margin: 0;
  padding: 0;
}
/* header design */
.header-design {
  padding: 0 1em;
  background-image: url(../images/Hero-bg.png);
  width: 100%;
  height: 698px;
}
.navbar-design {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0px;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
}
.btn {
  border-radius: 10px;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  background-color: #4e47ff;
  display: flex;
  height: 48px;
  padding: 12px 36px;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: aqua;
}
.navbar-design h3 {
  color: #4e47ff;
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
}
.head-maintext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 905px;
  margin: 8% auto;
  gap: 37px;
}
.maintext {
  text-align: center;
  font-family: Raleway;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #252432;
}
/* header section done */
/* see it action complete */
.main-body{
background: #f5f8ff;

}
.action{
padding: 60px 20px;
font-family: Raleway;
max-width: 1140px;
margin: 0 auto;
background-color: #f6f8ff;
}
.action-content{
max-width: 1140px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
gap: 30px;

}
.action-text{
display: grid;
min-width: 250px;
gap: 20px;


}
.first-btn{
color: #fff;
font-weight: 500;
border-radius: 8px;
border: none;
text-align: center;
line-height: 150%;
display: flex;
width: fit-content;
justify-content: center;
gap: 10px;
background-color: #5c5cff;
transition: background-color 0.2s ease;
/* font-family: Raleway; */
height: 48px;
padding: 12px 36px;
}
.first-btn:hover{
background-color: aqua;

}
.action-text h2{
   color: #252432;
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.action-text p{
  color: rgba(37, 36, 50, 0.5);

  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.content-image img{
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  justify-content: space-between;
}
/* user status */
.user {
    background-color: #eaeaff;
     max-width: 1140px;
     border-radius: 16px;
 margin: 50px auto;
 padding: 50px 0;
 justify-content: center;
 text-align: center;
 flex-direction: column;
}

.user-content {
  gap: 40px;
  display: grid;
    
}
.user-content h2{
  text-align: center;
   color: #252432;
  text-align: center;
  font-family: Raleway;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.status{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.status-box h3{
 color: var(--Primary-Color, #4e47ff);
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.status-box p{
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
/* Make footer */
footer{
   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em;
  background-color: white;
  padding: 104px 0 103px 0;
}
.logo{
color: var(--Primary-Color, #4e47ff);
  text-align: center;
  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.logo-status{
 margin-top: 8px;
  color: #8987a1;
  text-align: center;
  width: 531px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
ul{
display: flex;
  gap: 48px;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
}
li{
color: #8987a1;
  font-family: Inter;

}