.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* universal margin and padding */

* {
  margin: 0;
  padding: 0;
}
/* header design */
.header-design {
  padding: 0 1em;
  background-image: url(../images/Hero-bg.png);
  width: 100%;
  height: 698px;
}
.navbar-design {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0px;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
}
.btn {
  border-radius: 10px;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  background-color: #4e47ff;
  display: flex;
  height: 48px;
  padding: 12px 36px;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: aqua;
}
.navbar-design h3 {
  color: #4e47ff;
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
}
.head-maintext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 905px;
  margin: 8% auto;
  gap: 37px;
}
.maintext {
  text-align: center;
  font-family: Raleway;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #252432;
}
/* header section done */
.main-body{
background: #f5f8ff;

}
.action{
padding: 60px 20px;
font-family: Raleway;
max-width: 1140px;
margin: 0 auto;
background-color: #f6f8ff;
}
.action-content{
max-width: 1140px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
gap: 30px;

}
.action-text{
display: grid;
min-width: 250px;
gap: 20px;


}
.first-btn{
color: #fff;
font-weight: 500;
border-radius: 8px;
border: none;
text-align: center;
line-height: 150%;
display: flex;
width: fit-content;
justify-content: center;
gap: 10px;
background-color: #5c5cff;
transition: background-color 0.2s ease;
font-family: Raleway;
height: 48px;
padding: 12px 36px;
}
.first-btn:hover{
background-color: aqua;

}
.action-text h2{
   color: #252432;
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.action-text p{
  color: rgba(37, 36, 50, 0.5);

  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.content-image img{
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  justify-content: space-between;
}